<div class="row">
    <div class="col">
            <a href="admin/registro" class="btn btn-primary float-right"> Añadir producto </a>
            <input class="form-control me-2" type="search" placeholder="Filtro ..." aria-label="Search" [(ngModel)]="searchText" (ngSubmit)="buscarProducto(searchText)">
        <table class="table table-hover" *ngIf="(productos | filter: searchText).length>0; else noResults">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>NOMBRE</th>
                    <th>ID</th>
                    <th>MARCA</th>
                    <th>DESCRIPCIÓN</th>
                    <th>SECCIÓN</th>
                    <th>PRECIO</th>
                    <th>CANTIDAD</th>
                    <th>FECHA DE CADUCIDAD</th>
                    <th>PROCEDENCIA</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos | filter: searchText; let i = index">
                    <th></th>
                    <th>{{i+1}}</th>
                    <th>{{producto.nombre}}</th>
                    <th>{{producto.ID}}</th>
                    <th>{{producto.marca}}</th>
                    <th>{{producto.descripcion}}</th>
                    <th>{{producto.seccion}}</th>
                    <th>{{producto.precio}} €</th>
                    <th>{{producto.cantidad}}</th>
                    <th>{{producto.fecha_caducidad}}</th>
                    <th>{{producto.procedencia}}</th>
                    <th>
                        <button class="btn btn-primary"> Modificar </button>
                    </th>
                    <th>
                        <button type="button" class="btn btn-danger" (click)="deleteProducto(producto.ID)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            <span class="visually-hidden"></span>
                      </button>
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</div>