<div class="jumbotron text-center">
    <h1 class="display-4">MEAN-STACK</h1>
</div>

<div class="row align-items-center">
        <div class= "col-md-4 text-center">
            <h3>Node/Express</h3>
            <p>Servidor basado en Node.js con framework Express.</p>
        </div>

        <div class= "col-md-4 text-center">
            <h3>MongoDB/Mongoose</h3>
            <p>Base de datos basada en MongoDB con Mongoose como herramienta de modelado.</p>
        </div>

        <div class= "col-md-4 text-center">
            <h3>Angular</h3>
            <p>Cliente construido con Angular utilizando Angular-CLI.</p>
        </div>

</div>
