<nav class="navbar navbar-expand-md navbar-dark bg-dark default">
    <div class="container-fluid">
      <a class="navbar-brand">Mean-Stack</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" [routerLink]="['admin']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['admin/registro']">Registro</a>
          </li>
        
          <!-- ELIMINAR DESPUES-->
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" [routerLink]="['cliente/listarcompra']">Listar Compras</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
