<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID Compra</th>
        <th scope="col">Nombre Producto</th>
        <th scope="col">ID Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pepino</td>
        <td>777</td>
        <td>5</td>
        <td>12.50</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ensalada</td>
        <td>7173</td>
        <td>2</td>
        <td>1.78</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Col de Bruselas</td>
        <td>8143</td>
        <td>10</td>
        <td>5.63</td>
      </tr>
    </tbody>
  </table>
